.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: PTSerif;
  font-style: normal;
}

.footer {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.about, .communities, .createNew, .home, .jobs, .logOut, .market, .settings, .signUp, .workshops, .notifications {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #fff;
}

p {
  margin-bottom: 0px !important;
}

h1 {
  font-size: 40px;
}

h2 {
  margin-bottom: 0px;
}

h3 {
 color: aliceblue;
}

hr {
  margin: 15px !important;
  padding-bottom: 25px;
}

.container {
    margin: auto;
    background: #fff;
}

.title2 {
  font-size: 40px;
  margin: 0px;
}
.title4 {
  font-size: 20px;
  margin: 0;
  margin-top: -15px;
}
.profilePicSm {
  height: 38px;
  width: 38px;
  margin-right: 10px;
  border: solid;
  border-width: 1.5px;
  border-color: blueviolet;
  border-radius: 50%;
}

.profile-post-area {
  display: flex;
}

.profilePicMd {
  border: solid;
  height: 70px;
  width: 70px;
  border-color: blueviolet;
  border-radius: 50%;
}
.dropdown-toggle::after {
  display: none !important;
}
.profilePicLg {
  position: flex;
  margin-top: -80px;
  margin-left: 50px;
  border: solid;
  height: 150px;
  width: 150px;
  border-color: blueviolet;
  border-radius: 50%;
}

.profile-stats-row {
  justify-content: end;
  margin-right: 35px;
}

.profilePic:hover {
  border-color: rgb(186, 136, 233);
  cursor: pointer;
}

.profile-body {
  display: flex;
  flex-direction: row;
}

.row-name {
  justify-content: space-between;
}

.side-panel {
  padding: 15px;
}

@media screen and (max-width: 960px) {
  .container {
    width: 100%;
  }
}

/* Fonts */

@font-face {
  font-family: 'IMFellCaps';
  src: url('../public/Fonts/IM_Fell_DW_Pica/IMFellDWPicaSC-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'IMFell';
  src: url('../public/Fonts/IM_Fell_DW_Pica/IMFellDWPica-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'IMFell';
  src: url('../public/Fonts/IM_Fell_DW_Pica/IMFellDWPica-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Nanum';
  src: url('../public/Fonts/Nanum_Myeongjo/NanumMyeongjo-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight:700 ;
}

@font-face {
  font-family: 'Nanum';
  src: url('../public/Fonts/Nanum_Myeongjo/NanumMyeongjo-ExtraBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'PTSans';
  src: url('../public/Fonts/PT_Sans/PTSans-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'PTSans';
  src: url('../public/Fonts/PT_Sans/PTSans-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'PTSerif';
  src: url('../public/Fonts/PT_Serif/PTSerif-Bold.ttf') format('truetype');
  font-style: normal;;
  font-weight: 700;
}

@font-face {
  font-family: 'PTSerif';
  src: url('../public/Fonts/PT_Serif/PTSerif-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

/* End Fonts */
